{##
 # The first block in the dashboard.
 # Usually contains hard-coded helpful links.
 #}
<div class='block'>

    <ul>
        <li><a href='/admin/nodes'>Управление документами</a></li>
        <li><a href='/admin/nodes/file'>Управление файлами</a></li>
        <li><a href='/admin/nodes/user'>Управление пользователями</a></li>
        <li><a href='/admin/rewrite'>Управление редиректами</a></li>
    </ul>

    <p>Справки:</p>

    <ul>
        <li><a href='/admin/database'>Состояние базы данных</a></li>
        <li><a href='/admin/taskq'>Очередь задач</a></li>
        <li><a href='/admin/s3'>Облачное хранилище</a> (S3)</li>
    </ul>
</div>
