a.youtube {
    display: inline-block;
    line-height: 0;
    box-shadow: none;
    background-color: inherit;
}
a.right {
    float: right;
    margin: 0 0 10px 20px;
}

table.blog td:nth-child(1) {
    padding-right: 20px;
}

p.lastentry {
    font-style: italic;
}
