.form-group .edit-buttons {
    margin: 5px 0 0;
}

table.table .rowid {
    text-align: right;
    color: #888;
}

table.hover tr:hover {
    background-color: #eee;
}

.fg-source:fullscreen {
    background-color: #fff;
    padding: 10px;
}
.fg-source:fullscreen label {
    display: none;
}
.fg-source:fullscreen textarea {
    height: calc(100vh - 80px);
}

.edit-buttons .btn {
    margin-right: 5px;
}
