#splash img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

body.home header {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
}
body.home header .title {
    background-color: transparent;
}
body.home a.scrolldown {
    position: absolute;
    left: calc(50% - 50px);
    bottom: 10px;
    color: #fff;
    font-size: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
    opacity: 0.75;
    outline: none;
}
