.wikimeta {
    color: #888;
    font-size: 14px;
}
.wikimeta a {
    color: inherit;
    box-shadow: none;
    text-decoration: underline;
}
.wikimeta a:hover {
    background-color: inherit;
    color: inherit;
}

/**
 * Отключение ссылок на редактирование раздела.
 **/
.wiki-section-edit {
    display: none;
}

.wikinav {
    background-color: #f8f8f8;
    padding: 10px;
    margin: 20px 0;
}
.wikinav > div > div {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.wikinav .next {
    text-align: right;
}
