{% extends "base.twig" %}

{% block page_title %}Загрузка файла{% endblock %}

{% block more_head %}
    <meta name="robots" contents="noindex, nofollow"/>
{% endblock %}

{% block page_header %}
    <div class='page-header'>
        <h1>Скачивание файла</h1>
    </div>
{% endblock %}

{% block page_contents %}
    <p>Вы хотите скачать файл:</p>

    <table class='table grid'>
        <tbody>
            <tr>
                <td>Имя файла:</td>
                <td>{{ info.name }}</td>
            </tr>
            <tr>
                <td>Размер:</td>
                <td>{{ info.length|filesize }}</td>
            </tr>
        </tbody>
    </table>

    <form method='post'>
        <div class='form-group'>
            <label>Пароль:</label>
            <input class='form-control' type='password' name='password' autocomplete='off' required style='max-width: 200px'/>
            {% if request.get.message == 'wrong' %}
                <p class='help-block'>Вы ввели неправильный пароль.&nbsp; Попробуйте снова.</p>
            {% endif %}
        </div>
        <div class='form-actions'>
            <button class='btn btn-primary' type='submit'><i class="fas fa-download"></i> Скачать</button>
        </div>
    </form>
{% endblock %}
