{% extends "base.twig" %}

{% block page_title %}artwall.pro{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>Управление картинами</h1>
    </div>
{% endblock %}

{% block page_contents %}
    <p>Выберите действие:</p>

    <ul>
        <li><a href="/queue">Картины на модерации</a></li>
        <li><a href="/published">Картины в работе</a></li>
        <li><a href="/users">Зарегистрированные пользователи</a></li>
    </ul>
{% endblock %}
