{% extends "base.twig" %}

{% block page_title %}Семейный лесопитомник «Ясный лес»{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>Семейный лесопитомник «Ясный лес»</h1>
    </div>
{% endblock %}

{% block page_contents %}
    <p>Добро пожаловать на сайт <a href='/about/'>семьи Фрунзе</a>.</p>
    <p>Мы живём в экопоселении <a href='https://www.chistoe-nebo.info/'>Чистое небо</a> на юге Псковской области.&nbsp; Мы растим деревья и кустарники для озеленения, ведём небольшое подсобное хозяйство, содержим <a href='/volunteer/'>палаточный лагерь</a> для туристов и волонтёров.</p>
    <p>На этом сайте мы делимся полученным опытом.</p>
{% endblock %}
