{##
 # Chat widget.
 ##}
<div id='vk_community_messages'>
    <a href='https://vk.com/umonkey.land' target='_blank'>
        <span class='label'>Есть вопрос?</span>{#
        #}<i title='Открыть чат с хозяевами'></i>
    </a>
</div>
