{% include 'parts/admin-bar.twig' %}

<header>
    <div class='title'>
        <div class='wrap'>
            <a href='/'>
                <img src='/images/logo-trees.png' alt='Ясный лес'/>
            </a>
        </div>
    </div>

    <div class='bars'>
        <a href='/'><i class="fas fa-bars"></i></a>
    </div>

    <div class='menu'>
        <ul class='wrap'>
            <li class='{% if page.name == 'Блог' or page.section == 'blog' %}active{% else %}inactive{% endif %}'><a href='/wiki?name=Блог'>Блог</a></li>
            <li class='{% if page.name == 'Питомник' %}active{% else %}inactive{% endif %}'><a href='/wiki?name=Питомник'>Питомник</a></li>
            <li class='{% if page.name == 'Лагерь' %}active{% else %}inactive{% endif %}'><a href='/wiki?name=Лагерь'>Волонтёрам</a></li>
            <li class='{% if page.name == 'О нас' %}active{% else %}inactive{% endif %}'><a href='/wiki?name=О нас'>О нас</a></li>
            <li class='bars'></li>
        </ul>
    </div>
</header>
