{% extends "base.twig" %}

{% block page_title %}Ошибка{% endblock %}

{% block page_h1 %}Ошибка{% endblock %}

{% block page_header %}
    <div class="page-header">
        {% if e.class == "Ufw1\\Errors\\S3AccessDenied" %}
            <h1>Файловое хранилище недоступно</h1>
        {% elseif e.class == 'Ufw1\\Errors\\Unavailable' %}
            <h1>Функция недоступна</h1>
        {% else %}
            <h1>Ошибка</h1>
        {% endif %}
    </div>
{% endblock %}

{% block page_contents %}
    {% if e.class == "Ufw1\\Errors\\S3AccessDenied" %}
        <p>Нет доступа к облачному хранилищу файлов.</p>
        <p>Либо неверно указаны ключи в настройках, либо закончились деньги на счету.</p>
    {% elseif e.class == 'Ufw1\\Errors\\Unavailable' %}
        <p>Извините, эта часть сайта временно не работает.</p>
        <p>Попробуйте повторить операцию чуть позже.</p>
    {% elseif e.class == 'Ufw1\\Errors\\Forbidden' %}
        <p>Извини, эта функция тебе недоступна.</p>
    {% elseif e.class == 'PDOException' %}
        {% if e.code == 1044 %}
            <p>Не удалось подключиться к базе данных.</p>
            <p>Доступ к указанной базе данных отсутствует.</p>
            <p>Администратору следует проверить параметры подключения и работоспособность базы данных.</p>
            <p>Обновите эту страницу через минуту-две.</p>
        {% elseif e.code == 1045 %}
            <p>Не удалось подключиться к базе данных.</p>
            <p>Сервер отверг указанный пароль.</p>
            <p>Администратору следует проверить параметры подключения и работоспособность базы данных.</p>
            <p>Обновите эту страницу через минуту-две.</p>
        {% elseif e.code == 1049 %}
            <p>Не удалось подключиться к базе данных.</p>
            <p>Указанная база данных не существует.</p>
            <p>Администратору следует проверить параметры подключения и работоспособность базы данных.</p>
            <p>Обновите эту страницу через минуту-две.</p>
        {% else %}
            <p>Произошла ошибка при работе с базой данных.</p>
            <p>Код ошибки: {{ e.code }}</p>
        {% endif %}
    {% else %}
        <p>Произошёл сбой в работе сайта.</p>
        <p>Ошибка: {{ e.class }}: {{ e.message }}</p>
        {% if e.stack %}
            <pre>{{ e.stack }}</pre>
        {% endif %}
    {% endif %}
{% endblock %}
