{% extends "base.twig" %}

{% block page_title %}Нет доступа{% endblock %}

{% block header %}{% endblock %}

{% block page_header %}
    <div class="page-header">
        {% if user.published == 0 %}
            <h1>{{ intro.name }}</h1>
        {% else %}
            <h1>Нет доступа</h1>
        {% endif %}
    </div>
{% endblock %}

{% block page_contents %}
    {% if user.published == 0 %}
        <div class='markdown'>{{ intro.text|markdown }}</div>
        <p><a class="btn btn-primary" href="/logout">Выйти</a></p>
    {% else %}
        <p>Извините, у вас нет доступа к этой странице.</p>
    {% endif %}
{%endblock %}
