{% extends "base.twig" %}

{% block page_title %}Семейный лесопитомник «Ясный лес»{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>Семейный лесопитомник «Ясный лес»</h1>
    </div>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block splash %}
    <div id='splash'>
        <picture>
            <source type='image/webp' srcset='/images/splash2.webp'/>
            <source type='image/jpg' srcset='/images/splash2.jpg'/>
            <img src='/images/splash2.jpg'/>
        </picture>
        <a href='#content' class='scrolldown'><i class="fas fa-chevron-circle-down"></i></a>
    </div>
{% endblock %}

{% block page_contents %}
    <p>Добро пожаловать на сайт <a href='/wiki?name=О нас'>семьи Фрунзе</a>.</p>
    <p>Мы с 2012 года живём в экопоселении <a href='https://www.chistoe-nebo.info/'>Чистое небо</a> на юге Псковской области.&nbsp; Здесь мы <a href='/wiki?name=Питомник'>растим деревья и кустарники</a> для озеленения и обогащения экосистемы, ведём небольшое подсобное хозяйство, содержим <a href='/wiki?name=Лагерь'>палаточный лагерь</a> для туристов и волонтёров.&nbsp; Пока это всё не приносит дохода, зарабатывать приходится порграммированием.</p>
    <p>В <a href='/wiki?name=Блог'>нашем блоге</a> мы делимся полученным опытом.</p>
    <p>Этот блог планировался как история переезда из города в деревню.&nbsp; На сегодняшний день этот рассказ окончен: переезд выполнен, дом построен, необходимые условия созданы, дети появились.&nbsp; При желании, жить в глухой деревне с комфортом возможно, проблем с этим нет.</p>
    <p>Сейчас основная задача&nbsp;— построение устойчивого поселения, которым Чистое небо, к сожалению, не является.&nbsp; Мы пришли к этому на восьмом году жизни в поселении, но лучше позже, чем никогда.&nbsp; Это большая, сложная работа, которую толком никто не делал&nbsp;— чужого опыта нет.&nbsp; Но это очень интересно.&nbsp; Об успехах и неудачах мы будем писать в этом блоге.</p>
    <p>Повседневные заметки мы публикуем в сообществе «<a href='https://vk.com/umonkey.land' target='_blank'>Жизнь в деревьях</a>» вконтакте, в сезон.&nbsp; Зимой обычно ничего интересного не происходит&nbsp;— ничего и не публикуем.</p>
{% endblock %}
