{% extends "base.twig" %}

{% block page_title %}{{ page.name }}{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>{{ page.name }}</h1>
    </div>
{% endblock %}

{% block page_contents %}
    <div class='meta'><a href='/blog/'>Блог о жизни в деревне</a> &middot; {{ page.created|human_date }} года</div>

    <div class='formatted'>
        {{ page.html|typo|raw }}
    </div>

    <hr/>

    <div id='disqus_thread'>Комментарии загружаются...</div>
{% endblock %}
