{% extends "base.twig" %}

{% block page_title %}{{ page.title }}{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>{{ page.name }}</h1>
        {% if page.subtitle %}
            <p class='lead'>{{ page.subtitle }}</p>
        {% endif %}
    </div>
{% endblock %}

{% block page_contents %}
    {% include "parts/breadcrumbs.twig" %}

    <div class='formatted'>
        {{ page.html|typo|raw }}
    </div>

    <hr/>

    <div id='disqus_thread'>Комментарии загружаются...</div>
{% endblock %}
