<form id="dlg-map" class="dialog async" action="/map/save" method="post" style="display: none">
    <div id="map_dlg" class="map"></div>

    <div class="controls">
        <input type="hidden" name="mode" value="embed"/>
        <input type="hidden" name="form[tags]" value="public, {{ tag }}"/>

        <div class="form-group">
            <label>Заголовок</label>
            <input class="form-control title" type="text" name="form[title]" value="{{ tag }}"/>
        </div>
        <div class="form-group">
            <label>Описание</label>
            <textarea class="form-control" name="form[description]"></textarea>
        </div>
        {% include "parts/map_icon.twig" %}
        <div class="form-group">
            <label>Ссылка</label>
            <input class="form-control" type="text" name="form[link]" value="/wiki?name={{ tag }}"/>
        </div>
        <div class="form-group">
            <label>Координаты</label>
            <input id="map_ll" class="form-control" type="text" name="form[ll]" value=""/>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Сохранить</button>
            <button class="btn btn-default cancel" type="reset">Отмена</button>
            <a href="/map" target="_blank">Список</a>
        </div>
    </div>
</form>
