<form class="async upload" method="post" action="/upload">
    <input id="upload_ctl" type="file" name="file" accept="image/*" style="display: none"/>
    <label class="btn btn-primary" for="upload_ctl">Загрузить файл</label>
    <p class="help-block">Загружайте PNG или JPEG с размерами не меньше 3000 пикселей по меньшей сторне.</p>
    <div class="msgbox">hello world</div>
</form>
